<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rudra writes</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">rudra writes</div>
        <ul class="nav-links">
            <li><a href="/">My Blog</a></li>
            <li><a href="/create-blog">Create Blog</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </nav>
</header>
